{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div>
                <table class="table table-striped border table-borderless">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="4">
                                <h2>Dane pacjenta</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>
                                    Imię:
                                </strong>
                            </td>
                            <td class="col-10">
                                {{patient_data['name']}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Nazwisko:
                                </strong>
                            </td>
                            <td class="col-10"> 
                                {{patient_data['surname']}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Data urodzenia:
                                </strong>
                            </td>
                            <td class="col-10">
                                {{patient_data['birthDate']}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Płeć:
                                </strong>
                            </td>
                            <td class="col-10">
                                {{patient_data['gender']}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    ID pacjenta:
                                </strong>
                            </td>
                            <td class="col-10">
                                {{patient_data['id']}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form actrion="#" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">Od</span>
                    <input type="text" class="form-control" name="dateFrom" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="YYYY-MM-DD" title="Wprowadź poprawną datę w formacie YYYY-MM-DD">
                    <span class="input-group-text">Do</span>
                    <input type="text" class="form-control" name="dateTo" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="YYYY-MM-DD" title="Wprowadź poprawną datę w formacie YYYY-MM-DD">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Filtruj">Filtruj</button>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2" formmethod="get">Resetuj</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="accordion" id="medicalData">
                {% for record in medical_data %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#record{{ loop.index }}">
                            {{record['date']}}
                        </button>
                    </h2>
                    <div id="record{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#medicalData">
                        <div class="accordion-body">
                            <p><strong>Osberwacja: {{record['name']}}</strong></p>
                            <p>Wartość: {{record['value']}} {{record['unit']}}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}